.Contant{
	background-color: #ffffff;
}
.add_list{
	width: calc(100%/3);
	background-color: #fff;
}
.add_bar{
	border-top: 1px solid #E2231A;
	margin-right: -15px;
	transition:0.5s;
}
.add_bar:last-of-type{
	border-bottom: 1px solid #E2231A;
}
.add_title{
	text-align:center;
	color: #B0B1B1;
}
.add_button{
	display: block;
    position: relative;
    margin: 0;
    cursor: pointer;
    z-index: 90;
    font-weight: 600;
    padding: 10px 0 15px 15px;    
    font-size: 24px;
    text-align: center;
    line-height: 30px;
}
.trigon{
	transition:0.5s;
	display: block;
	width:0;
	height:0;
	margin-right:15px;
	margin-top: 10px;
	border:10px solid transparent;
	border-top-color: #B0B1B1;
	border-radius: 4px;
	transition:0.5s;
}
.add_bar_more{
	display: none;
	height: 0;
	transition:0.5s;
	background-color: #E2231A;
	padding: 20px 0 0 10px;
}
.address p{
	color: #fff;
	line-height: 26px;
	font-family: 黑体,STHeiti,'libre_baskervilleregular';
	font-size: 16px;
	padding-bottom: 15px;
	text-align: center;
}
.map{
	text-align: center;
}
.map button{
	box-sizing: border-box;
    box-shadow: none;
    border: 0;
    background: #E2231A;
    margin: 10px 0 0 0;
}
.map button span{
    color: rgb(226, 35, 26);
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 5px 15px !important;
    display: inline-block;
    background: #fff;
}
#allmap{
	width: calc((100%/3)*2);
	height: 700px;
	position:static;
}

/*响应式布局*/
@media screen and (max-width: 768px){
	.add_list,#allmap{
		width: 100%;
	}
}
@media screen and (max-width: 700px) {
	#allmap{
		width: 90%;
		margin: 0 5%;
	}	
}

/*移动端布局*/
@media screen and (max-width: 414px){
	.add_bar{
		border-top: 1px solid #E2231A;
		margin-right: -0.57971rem;
	}
	.add_bar:last-of-type{
		border-bottom: 1px solid #E2231A;
	}
	.add_button{
	    padding: 0.38647rem 0 0.57971rem 0.57971rem;    
	    font-size: 0.92754rem;
	    line-height: 1.15942rem;
	}
	.trigon{
		margin-right:0.57971rem;
		margin-top: 0.38647rem;
		border:0.38647rem solid transparent;
		border-radius: 0.15459rem;
	}
	.add_bar_more{
		padding: 0.77295rem 0 0 0.38647rem;
	}
	.address p{
		line-height: 1.00483rem;
		font-size: 0.61836rem;
		padding-bottom: 0.57971rem;
	}
	.map button{
	    margin: 0.38647rem 0 0 0;
	}
	.map button span{
	    font-size: 0.57971rem;
	    line-height: 0.657rem;
	    padding: 0.19324rem 0.57971rem !important;
	}
	#allmap{
		width: 90%;
		margin: 0 5%;
	}	
}