.history_title{
	padding-top: 28px;
	text-align: center;
	margin: 0 auto;
}
.history_title h2{
	height: 44px;
	line-height: 44px;
	font-weight: 100;
    font-size: 40px;
    margin-bottom:5px;
}
.history_title h3{
	color: #B0B0B0;
	font-size: 24px;
	font-weight: 100;
    line-height: 28px;
}
/*history_title ending*/
.history_time_box{
    margin: 20px 0 35px;
    position: relative;
    max-width: 100%;
}	
.time_border{
	position: absolute;
    left: 50%;
    margin-left: 0;
    height: 100%;
    border-right: 1px solid #d0d0d0;
    border-right-color: #e2231a;
}
.time_first{
    width: calc(50% - 19px);
	border: 0px solid rgb(226, 35, 26);
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    position: relative;
}
.time_circular{
	width:12px;
	height: 12px;
	position: absolute;
	border-radius: 50%;
	background-image: url(img/timeline-moment-icon.png);
	background-size: 12px 12px;	
}
.time_cir{
	width:18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	left: -9px;
	background-image: url(img/timeline-moment-icon.png);
	background-size: 18px 18px;	
}
.time_cir:last-of-type{
	bottom: 0;
}
.timeline{
	width: 100%;
	position: absolute;
	padding:15px 15px 15px 30px;
	line-height: 24px;
	font-size: 13px;
	vertical-align: top;
    display: inline-block;
	position: relative;
}
.timeline_left{text-align: right;}
.timeline_right{text-align: left;}
.timeline h2{
	color: #E2231A;
    font-size: 48px;
    line-height: 48px;
    margin: 0 7px;
    font-family: 黑体,STHeiti,'dinregular', Arial, Helvetica, sans-serif;
}
.timeline h3{
    background: rgba(255,255,255,0.8);
	font-size: 21px;
    line-height: 26px;
    margin: 5px 0;
    font-weight: normal;
    font-family: 黑体,STHeiti,'dinbold', Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.time_first .time_circular{
	top: 32px;
	right:-25px;
}
.time_second{
	margin-top: 17px;
	width: calc(50% - 19px);
	border: 0px solid rgb(226, 35, 26);
    padding: 0 0 20px 0;
    position: relative;
}
.time_first .timeline video,.time_second .timeline video{
	width: 350px; 
}
.time_second .time_circular{
	top:32px;
	left:-25px;
}
.timeline .sixity{
	font-size: 16px;
	line-height: 24px;
}
.timeline img{margin-top: 3px;}
.timeline a{color: #E2231A;}
.fisrt_top{ margin-top: 50px;}
.time_box div:nth-of-type(7) img{width:350px;}
.time_box div:nth-of-type(7) .timeline{float:right;}
/*history_time_box ending*/

/*响应式布局*/
@media screen and (max-width: 700px){
	.time_first,.time_second{
		text-align: center;
		width: 100%;
		padding: 0 15px;
	}
	.timeline_left,.timeline_right{
		text-align: center;
	}
	.time_first .time_circular{
		left:-25px;
	}
	.timeline h2{
		margin-left: -5px;
		display: inline-block;
		padding: 0 20px;
		border: 1px solid #E2231A;
		font-size: 38px;
		line-height: 38px;
		background: #fff;
	}
} 

/*移动端布局*/
@media screen and (max-width: 414px){
	.history_title{
		padding: 0.54106rem 0;
	}
	.history_title h2{
		height: 1.70048rem;
		line-height: 1.70048rem;
	    font-size: 1.54589rem;
	    margin-bottom: 0.54106rem;
	}
	.history_title h3{
		font-size: 0.92754rem;
	    line-height: 1.08213rem;
	}
	.history_time_box{
	    margin: 0.77295rem 0 1.35266rem;
	}	
	.time_border{
	    border-right: 1px solid #d0d0d0;
	}
	.time_first{
	    width: calc(50% - 0.7343rem);
		border: 0px solid rgb(226, 35, 26);
	    padding: 0 0 0.77295rem 0;
	    margin: 0.77295rem 0;
	}
	.time_first,.time_second{
		text-align: center;
		width: 100%;
		padding: 0 0.57971rem;
	}
	.time_circular{
		width:0.46377rem;
		height: 0.46377rem;
		background-size: 0.46377rem 0.46377rem;	
	}
	.time_cir{
		width:0.69565rem;
		height: 0.69565rem;
		left: -0.34783rem;
		background-size: 0.69565rem 0.69565rem;	
	}
	.time_cir:last-of-type{
		bottom: 0;
	}
	.timeline{
		padding:0.57971rem 0.57971rem 0.57971rem 1.15942rem;
		line-height: 0.92754rem;
		font-size: 0.50242rem;
	}
	.timeline h2{
	    font-size: 1.85507rem;
	    line-height: 1.85507rem;
	    margin: 0 0.27053rem;
	}
	.timeline h3{
		font-size: 0.81159rem;
	    line-height: 1.00483rem;
	    margin: 0.54106rem 0;
	}
	.timeline_left,.timeline_right{
		text-align: center;
	}
	.timeline h2{
		margin-left: -0.19323rem;
		display: inline-block;
		padding: 0 0.77294rem;
		border: 0.03864rem solid #E2231A;
		font-size: 1.46859rem;
		line-height: 1.46859rem;
		background: #fff;
	}
	.time_first .timeline video,.time_second .timeline video{
		width: 350px; 
	}
	.time_first .time_circular{
		top: 0.8579rem;
		left:0.1rem;
	}
	.time_second{
		margin-top: 0.657rem;
	}
	.time_second .time_circular{
		top:1.23671rem;
		left:-0.96618rem;
	}
	.timeline .sixity{
		font-size: 0.61836rem;
		line-height: 0.92754rem;
	}
	.timeline img{
		margin-top: 0.19324rem;
	}
	.fisrt_top{ 
		margin-top: 1.93237rem;
	}

}






























