@import '~antd/dist/antd.css';
header {
	height:550px;
}
.Home .ant-carousel .slick-slide {
  text-align: center;
  background: #364d79;
  overflow: hidden;
}

.Home .ant-carousel .slick-slide h3 {
  color: #fff;
}
.row .ant-carousel{
	width: 100%;
	height: 100%;
}
.row .slick-slider{
	width: 100%;
	height: 100%;
}
.row .slick-list{
	width: 100%;
	height: 80%;
}
.row .slick-track{
	width: 600%;
}
.row .ant-carousel .slick-arrow{
	top: 25px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	margin-top: 0;
}
.row .ant-carousel .slick-arrow a{
	font-size: 20px;
	margin-top: 0;
	width: 20px;
	height: 20px;
	color: #000;
	font-weight: bold;
}
.row .ant-carousel .slick-arrow:hover{
	background: transparent;
}
.row .ant-carousel .slick-arrow:hover a{
	color: #000;
}
.row .ant-carousel .slick-prev{
	left: -3.5px;
}
.row .ant-carousel .slick-next{
	right: -3.5px;
}
.row .ant-carousel .slick-slide {
	margin-top: 60px;
	width: 100%;
	text-align: center;
	height: 100px;
	line-height: 100px;
	background: #364d79;
	overflow: hidden;
}
.row .ant-carousel .slick-slide h3 {
  color: #fff;
}
.header_top{
	position: relative;
	width: 100%;
}
.header_top video{
	width: 100%;
}
.header_top header{
	padding: 0 15px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.full{
	box-sizing: border-box;
	position: relative;
	padding:0 15px;
    width: 100%;
    padding-top: 70px;
    text-align: center;
    vertical-align: middle;
}
.full p{
	font-size: 100px;
	color: #fff;
	transition: opacity .9s linear;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
.full p:first-of-type{
	animation:ani 2s forwards ease-out;
	transform:scale(0);
	transform-origin:center;
}
@keyframes ani {
	from{transform:scale(0);}
	to{transform:scale(1);}
}
.full p:last-of-type{
	animation:an 2s forwards ease-out 1.5s;
	transform:scale(0);
	transform-origin:center;
}
@keyframes an {
	from{transform:scale(0);}
	to{transform:scale(1);}
}
.focus{
	height: 420px;
	width:100%;
	background-color: #ccc;
	position: relative;
}
.focus .ant-carousel .slick-slide{
	height: 420px;
	line-height: 420px;
}
.focus .ant-carousel .slick-slide img{
	width: 100%;
}

.silder{
	width:100%;
	height: 500px;
	position: relative;
    background-position: center center;
    z-index: 2;
	background-image:url();
}	
.silder_location{
	position: absolute;
	left:0; top:0;
	width:100%;
	height:100%;
}
.silder_mask{
	position: absolute;
	left: 0.05px; top:0;
	display: table;
	width:33.3%;
	height: 500px;
	text-align: center;
	background: rgba(255, 255, 255, 0.729412);
} 
.silder_inner{
	display: table-cell;
    height: 500px;
    vertical-align: middle;
    width: 100%;
    -webkit-box-sizing: content-box !important;
    text-align: center;
}
.silder_inner h4{
	color: #808080;
	text-align: center;
	font-size: 24px;
	line-height: 1.375em;
    font-weight: 400;
}
.silder_inner h2{
	color: #ED2224;
    font-size: 34px;
    line-height: 38px;
    font-weight: 100;
    font-family: 黑体,STHeiti,'dinbold', Arial, Helvetica, sans-serif;
}
.silder_inner h6{
	color: #808080;
    margin: 10px 0 30px 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
}
a.btn_red{
	border: 1px solid #E2231A;
    display: inline-block;
    font-size: 16px;
}
a.btn_red span{
	display: inline-block;
	float: left;
	background-color: #E2231A;
	padding: 8px 20px 8px 20px;
    margin: 4px;
    font-size: 18px;
    line-height: 23px;
    border: 0px solid white;
    font-style: normal;
    font-weight: 100;
    color: #fff;
}
a.btn_white{
	border: 1px solid #fff;
    margin: 20px 0 0 0;
    display: inline-block;
    font-size: 16px;
}
a.btn_white span{
	display: inline-block;
	float: left;
	background-color: #fff;
	padding: 8px 20px 8px 20px;
    margin: 4px;
    font-size: 18px;
    line-height: 23px;
    border: 0px solid white;
    font-style: normal;
    font-weight: 100;
    color: #000;
}
a.btn_black{
	border: 1px solid #000;
    margin: 20px 0 0 0;
    display: inline-block;
    font-size: 16px;
}
a.btn_black span{
	display: inline-block;
	float: left;
	background-color: #000;
	padding: 8px 20px 8px 20px;
    margin: 4px;
    font-size: 18px;
    line-height: 23px;
    border: 0px solid white;
    font-style: normal;
    font-weight: 100;
    color: #fff;
}
.dots{
	position: absolute;
	bottom: 10px;
	left:45%;
}
.dot{
	float: left;
	width:10px;
	height: 10px;
	background-color: rgba(0,0,0,0);
	background-image:url(img/skin.png);
	background-position:0px 150px;
	background-origin:padding-box;
	border-radius: 50%;
	position: relative;
}
.dot_img{
	position: absolute;
}
.service{
	position: relative;
	background-color: #ccc;
	vertical-align: middle;
	overflow: hidden;
}
.services{
	width: 66.66666667%;
	height: 500px;
	display: table;
	background: url('http://192.168.43.16:8005/upload/1501591029910.jpg') no-repeat;
	background-size: 100% 500px;
}
.services_inner{
	display: table-cell;
	text-align: right;
	height: 100%;
    vertical-align: middle;
    width: 100%;
    position: relative;
}
.services_inner .services_wrap{
	position: absolute;
	top: 100px;
	display: inline-block;
    vertical-align: middle;
    float: right;
    width: 500px;
    text-align: center;
	transition:0.5s;
	opacity: 0;
	z-index: 10;
}
.services_text_title{
	text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 0 50px 0;
    display: block;
}
.services_text_text{
	text-align: center;
    font-family: 'dinbold';
    font-size: 60px;
    font-weight: 100;
    line-height: 90px;
    color: #fff;
    text-transform: uppercase;
}
.row .ant-carousel .slick-slide{
	background:transparent;
	height:auto;
}
.mask_bg{
	position: absolute;
	left:0; top:0;
	width:100%;
	height:100%;
	transition: background 50ms linear;
	background-color: rgba(237, 34, 36, 0);
}
.column{
	width:33.33%;
	height: 500px;
}
.services_inner:hover .mask_bg{
	background-color: rgba(237, 34, 36, 0.6);
}
.btn_white span{
	color: #777677;
}
.row{
	height: 250px;
	width:100%;
	overflow: hidden;
	width: 100%;
    min-height: 1px;
}
.row_1{
	background-color: rgb(195, 39, 47);
	color:#fff;
}
.row_1 .row_pad{
	height: 100%;
	box-sizing: border-box;
    padding:0 15px;
    margin: 0 17px 0 12px;
    position: relative;
    overflow: hidden;
    transition:0.5s 0.1s ease-out;
    right:-500px;
    opacity: 0;
}
.row_1 h2{
	text-align:left;
	color:#fff;
	font-size:22px;
	line-height: 25px;
 
}
.row_1 h4,.row_1 p{
	text-align:left;
	color:#fff;
	font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
}
.row_2{
	background-color: #ed2024;
}
.row_2 .row_padding{
	position: relative;
}
.row_2 .row_image{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -23px;
}
.row_2 h2{
	text-align:left;
	color:#fff;
	font-size:22px;
	line-height: 25px;
 
}
.row_2 p{
	text-align:left;
	color:#fff;
	font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
}
.row_padding{
	height: 100%;
	box-sizing: border-box;
    padding:0 15px;
    margin: 0 17px 0 12px;
    position: relative;
    overflow: hidden;
    transition:0.5s 0.3s ease-out;
    right:-500px;
    opacity: 0;
}
.life{
	overflow: hidden;
}
.life_go,.past{
	width:50%;
	height: 500px;
	position: relative;
}
.past{
	background: url("http://192.168.43.16:8005/upload/1501590964732.png") no-repeat;
	background-size: 100% 500px;
}
.life_go{
	background: url("http://192.168.43.16:8005/upload/1501591070872.jpg") no-repeat;
	background-size: 100% 500px;
}
.past_word{
	padding: 0 5%;
	position: absolute;
	left:-100%;
	opacity: 0;
	top: 100px;
	transition:0.5s ease-out;
}
.past_word h2{ 
	font-size: 48px;
	padding-bottom: 30px;
}
.past_word h4{
	font-size: 20px;
}
.life_go{
	padding-right: 15px;
}
.past:hover .mask_bg,.life_go:hover .mask_bg{
	background-color: rgba(237, 34, 36, 0.54);
}
.life_word{
	position: absolute;
	right:-100%;
	z-index: 10;
	opacity: 0;
	transition:0.5s ease-out;
	display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 90%;
    padding: 100px 5% 0 5%;
    text-align: center;
}
.life_word h3{
	font-size: 38px;
	color: #fff;
}

/*移动端布局*/
@media screen and (max-width: 414px){
	header {
		height:21.25604rem;
		padding: 0 0.57971rem;
	}
	.full{
		padding:0 0.57971rem;
	    padding-top: 2.70531rem;
	}
	.full p{
		font-size: 1.54589rem;
		text-shadow: 0.07729rem 0.07729rem 0.30918rem rgba(0,0,0,0.1);
	}
	.focus{
		height: 19.32367rem;
	}
	.silder{
		height: 19.32367rem;
	}	
	.silder_mask{
		height: 19.32367rem;
	} 
	.silder_inner{
	    height: 19.32367rem;
	}
	.silder_inner h4{
		font-size: 0.92754rem;
		line-height: 1.375em;
	}
	.silder_inner h2{
	    font-size: 1.31401rem;
	    line-height: 1.4686rem;
	}
	.silder_inner h6{
	    margin: 0.38647rem 0 1.15942rem 0;
	    font-size: 0.92754rem;
	}
	a.btn_red{
		border: 1px solid #E2231A;
	    font-size: 0.61836rem;
	}
	a.btn_red span{
		padding: 0.30918rem 0.77295rem 0.30918rem 0.77295rem;
	    margin: 0.15459rem;
	    font-size: 0.69565rem;
	    line-height: 0.88889rem;
	}
	a.btn_white{
		border: 1px solid #fff;
	    margin: 0.77295rem 0 0 0;
	    font-size: 0.61836rem;
	}
	a.btn_white span{
		padding: 0.30918rem 0.77295rem 0.30918rem 0.77295rem;
	    margin: 0.15459rem;
	    font-size: 0.69565rem;
	    line-height: 0.88889rem;
	}
	a.btn_black{
		border: 1px solid #000;
	    margin: 0.77295rem 0 0 0;
	    font-size: 0.61836rem;
	}
	a.btn_black span{
		padding: 0.30918rem 0.77295rem 0.30918rem 0.77295rem;
	    margin: 0.15459rem;
	    font-size: 0.69565rem;
	    line-height: 0.88889rem;
	}
	.dots{
		bottom: 0.38647rem;
	}
	.dot{
		width:0.38647rem;
		height: 0.38647rem;
		background-position:0px 5.7971rem;
	}
	.services{
		height: 19.32367rem;
		background-size: 100% 19.32367rem;
	}
	.services_wrap{
	    width: 100%;
	}
	.services_text_title{
	    font-size: 0.92754rem;
	    padding: 0px 0 1.93237rem 0;
	}
	.services_text_text{
	    font-size: 2.31884rem;
	    line-height: 3.47826rem;
	}
	.column{
		height: 19.32367rem;
	}
	.row{
		height: 9.66184rem;
	    min-height: 1px;
	}
	.row_1 .row_pad{
	    padding:0 0.57971rem;
	    margin: 0 0.657rem 0 0.46377rem;
	    right:-19.32367rem;
	}
	.row_1 .slick_slide{
		width: 11.98068rem;
	}
	.row_1 .slick_slide h3{
		font-size: 0.657rem;
	    line-height: 1.304347826086957em;
	}
	.row_1 .slick_slide h3 a{
		font-size: 0.85024rem;
	    line-height: 0.96618rem;
	    margin: 2.51208rem 0 0px 0;
	}
	.row_1 .slick_slide h4{
		margin: 0.38647rem 0 0.38647rem 0;
		font-size: 0.77295rem;
	    line-height: 0.96618rem;
	}

	.row_padding{
	    padding:0 0.57971rem;
	    right:-19.32367rem;
	}
	.row_introduce{
		margin: 0 0.657rem 0 0.46377rem;
	}
	.row_icon p{
	    font-size: 0.61836rem;
	    line-height: 1.00483rem;
	    margin: 0.92754rem auto 0.77295rem auto;
	}
	.row_2 .slick_slide h2{
		font-size: 1.08213rem;
	    line-height: 1.23671rem;
	}
	.row_2 .slick_slide h2 a{
		padding: 0 0 0.38647rem 0;
	}
	.row_2 .slick_slide h4{
		font-size: 0.69565rem;
	    line-height: 0.85024rem;
	}
	.life_go,.past{
		height: 19.32367rem;
	}
	.past{
		background-size: 100% 19.32367rem;
	}
	.life_go{
		background-size: 100% 19.32367rem;
	}
	.past_word{
		padding-left: 0.57971rem;
	}
	.past_word h2{ 
		font-size: 1.85507rem;
		padding-bottom: 1.15942rem;
	}
	.past_word h4{
		font-size: 0.77294rem;
	}
	.life_go{
		padding-right: 0.57971rem;
	}
	.life_word{
	    padding: 3.86473rem 5% 0 5%;
	}
	.life_word h3{
		font-size: 1.46859rem;
	}
}





