body{
	font-size: 13px;
	color: #1a1a1a;
	font-family: 黑体,STHeiti, 'libre_baskervilleregular', Arial, Helvetica, sans-serif;
}
.location{
	position: absolute;
	top: 0; left:0;
	width:100%;
	height:100%;
	cursor: pointer;
}
.background{
    background-repeat: no-repeat !important;
}
.Container{
	width:100%;
	height: 100%;
}
::selection {
    background: #363636;
    color: #fff;
}
.fixed{
	z-index: 999;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid #e8e8e8;
	background: url(img/arrows.png) no-repeat center;
	box-sizing: content-box;
	transition: 0.2s;
	opacity: 0;
}
.fixed:hover{
	background-color: #e8e8e8;
}
.header{
	height: 100%;
	width:100%;
	padding: 0 10px;
	position: relative;
}
.logo {
	float: left;
}
.header .logo img{
	height: 90px;
	width:122px;
	margin:0 20px;
	overflow: hidden;
}
.header .logo img:last-of-type{
	display: none;
}
.nav{
	height:100%;
}
.nav li{
	float: left;
	position: relative;
	font-weight: 400;
}
.nav li>a{
	text-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px 8px;
	line-height: 30px;
	float: left;
	border-bottom: 3px solid transparent;
	color: #fff;
	height: auto;
	padding: 26px 30px 0px;	
}
.nav li>a.active{
	border-bottom: 3px solid #C82026;
}
.nav li .nav_list{
	position: absolute;
	padding: 7px 0;
	background-color: #f1f1f2;
	border-color: #f1f1f2;
	transition: top .3s ease-in-out;
	top:100%;
	z-index: 10;
}
.nav li .nav_list p{
	width:225px; 
	display: none;
}
.nav li .nav_list p a{
	transition: color .3s ease-in-out;
	display: block;
    font-weight: 600;
    color: #9d9d9d;
    height: auto;
    line-height: 16px;
    margin: 0;
    font-size: 14px;
    padding: 9px 20px;
}
.nav li:hover p{
	display: block;
}
.nav li .nav_list p a:hover{
	color: #fff;
}
.nav_phone{
	display: none;
	transition:0.5s;
}
.mobile_menu_button{
	margin: 0 45px 0 25px;
	float: left;
    height: 100px;
    position: absolute;
    left:0; top:0;
    display: none;
}
.mobile_menu_button span{
	width: 26px;
    height: 26px;
	z-index: 50;
    display: block;
    margin:37px 0;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
	background: url(img/meun.png) no-repeat center;
}
.mobile_menu{
	border-bottom: 1px solid #eaeaea;
	position: relative;
}
.mobile_menu a{
	font-weight: 400;
    height: auto;
    color: #010101;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0;
    display: block;
    position: relative;
    letter-spacing: 0;
}
.mobile_menu a .menu_word{
	/* border-bottom: 3px solid #C82026; */
    color: #010101;
    line-height: 30px;
}
.mobile_arrow{
	cursor: pointer;
    display: inline-block;
    color: #888;
    height: 46px;
    line-height: 46px;
    padding: 0 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 25px;
    width: 50px;
    z-index: 999;
    font-family: '黑体';
}
.sub_menu{
	border-top: 1px solid #eaeaea;
	display: none;
}
.sub_menu li{
	margin: 0 0 0 20px;
	border-bottom: 1px solid #eaeaea;
}
.header_inner{
	width:120px;
}
.default{cursor: default;}
.search{
	float: left;
    padding: 26px 0 0 10px;
    height: 70px;
}
.search img{
	width: 13px;
	height: 13px;
}
.select{
	padding: 11px 17px 0;
	margin-right: -10px;
	height: 100%;
	vertical-align: middle;
}
.select ul{
	margin: 20px 5px 0 -25px;
	width:60px;
	line-height: 24px;
	color: #fff;
}
.select a{color: #000;}
.select li{
	position: relative;
}
.select a:hover .lang{
	visibility:visibility;
	display: block;
}
.select .lang{
	position: absolute;
	top: 25px;
    left: 0;
	width:60px;
	color: #000;
	background-color:#f1f1f2;
	display: none;
}
#select a:visited {
    display: block;
    font-size: 11px;
    text-decoration: none !important;
    color: #444444;
    border: 1px solid #cdcdcd;
    background: #fff;
    padding-left: 10px;
    line-height: 24px;
}
.footer_box{
	overflow: hidden;
	background-color: #404041;
	font-family: '黑体, STHeiti, libre_baskervilleregular, Arial, Helvetica, san';
}
.foot_box{
	padding: 72px 0 52px;
}
.foot_box p{
	font-size: 14px;
	color: #fff;
	letter-spacing: 0;
	padding-bottom:17px;
	line-height: 22px;
}
.foot_box p a{
	font-size: 16px;
	float: left;
	color: #fff;
	font-weight: 400;
    word-wrap: break-word;	
}
.foot_box .needlist p:first-of-type{
	margin-bottom: 22px;
	display: inline-block;
	font-weight: 100;
	padding: 0 150px 5px 0px;
	border-bottom: 1px solid #fff;
}
.needlist{
	width: 66%;
}
.about_our{
	width: 34%;
}
.needlist p span{
	width: 0;
	height:0;
	display: block;
	float: left;
	border:5px solid transparent;
	border-left-color: #fff;
	margin: 7px 0 0 5px;
}
.foot_box .about_our p:first-of-type{
	display: inline-block;
	padding: 0 100px 5px 0px;
	border-bottom: 1px solid #fff;
	margin-bottom: 22px;
}
.foot_box .about_our .sxin{
	margin: 25px 0 20px 20px;
}

.Copyright_box{
	padding: 0 45px;
	font-size: 15px;
	background-color: rgb(1, 1, 1);
}
.copy,.copyright{
	width:50%;
}
.copy{
	display: table-cell;
    font-size: 12px;
    line-height: 53px;
    height: 53px;
    vertical-align: middle;
    color: #cccccb;
    font-size: 15px;
}

.copy li{
	float: left;
    margin-right: 46px;
}
.copy li a{
	color: #cccccb;
	font-size: 15px;
	transition: color .3s ease-in-out;
}
.copy li:hover .copy li a{
	color: #818181;
}
.copyright{
	text-align: right;
	color: #cccccb;
	font-size: 15px;
	line-height: 53px;
}
.Contant,.works,.Vision,.Team,.servies,.press,.Home,.History,.points,.Live{
	margin-top: 1px;
}
.wrap{
	width:1100px;
	margin: auto;
}
@media only screen and (min-width: 1100px){
	{padding: 40px;}
}

@media only screen and (max-width: 1200px){
	.wrap{
		width:950px;
		margin: auto;
	}

}
@media screen and (max-width: 1000px){
	.wrap{
		width:768px;
		margin: auto;
	}
	
	.copy li {margin-right: 7px;}
	.copy li:last-of-type{margin:0;}
	
	.header .logo img:last-of-type{display: inline-block;}
	.header .logo img:first-of-type{display: none;}
	.logo{margin: 0 auto; display:block; clear: both; float: none; text-align: center;}
	.nav{display: none;}
	.mobile_menu_button{ display: block;}
	.header_inner{position: absolute; top:0; right:10px;}
}
@media screen and (max-width: 768px){
	.wrap{
		width:600px;
		margin: auto;
	}
	.foot_box .about_our .sxin{margin: 20px 0px 20px 0px;}
	.header{height: 90px;}
	.Copyright_box{padding: 0 10px;}
	.services,.column{display: block; float: none; width:100%;}
	.life_go, .past{display: block; float: none; width:100%;}
	.row{width:100%;}
	.foot_box .about_our p:first-of-type{padding: 0 30px 5px 0px;}
	.about_our img:first-of-type{display: block;}
	.copy{display: block; float: none; margin: 0 auto; width:205px;}
	.copyright{width:100%; float: none; text-align: center; font-size: 14px;} 
}

@media screen and (max-width: 600px){
	.wrap{
		width:420px;
		margin: auto;
	}
	.foot_box .about_our .sxin{margin: 30px auto;}
	.needlist{margin-bottom: 25px;}
	.foot_box .about_our p:first-of-type,.foot_box .needlist p:first-of-type{padding: 0 30px 5px 0px;}
	.about_our img:first-of-type {display: block;text-align: center;}
	.about_our img:last-of-type { margin: 20px auto;}
}
@media screen and (max-width:480px){
	.wrap{
		width:auto;
	}
	.foot_box{padding: 72px 25px 52px;}
	.copy,.copyright{line-height: 35px; height: 35px; float: none;}	
}
@media screen and (max-width:450px){
	.foot_box{padding: 72px 15px 52px;}	
	.needlist,.about_our{width: 100%; float: none; text-align: center;}
	.needlist p{text-align:center;}
	.about_our img:first-of-type {display: block;text-align: center; margin: 0 auto;}
	.needlist p a,.needlist p span{display: inline-block; float: none;}
	.foot_box .needlist p:first-of-type,.foot_box .about_our p:first-of-type{padding: 0 10% 5px 10%; text-align:center;}
}
@media screen and (max-width:420px){
	
}
@media screen and (max-width:320px){

}























































