@import '~antd/dist/antd.css';
.live_life .ant-carousel {
	float: left;
	width:calc( 100% - (100% / 3 ));
	height: 500px;
}
.live_life .ant-carousel .slick-slide {
  text-align: center;
  height: 500px;
  line-height: 500px;
  background: #364d79;
  overflow: hidden;
}

.live_life .ant-carousel .slick-arrow:hover{
	background-color: #fff;
	color: #8a8a8a;
}
.live_life .ant-carousel .slick-prev,.ant-carousel .slick-next{
	 width:42px;
	height:44px;
	color: #fff;
	text-align: center;
	line-height: 44px;	
	font-size: 25px;
	border-radius: 50%;
	transition:0.6s;
	z-index: 10;
}
.live_life .ant-carousel .slick-prev{
	left: 15px;
}
.live_life .ant-carousel .slick-next{
	right: 15px;
}
.live_life .ant-carousel .slick-slide h3 {
  color: #fff;
}


.live_life{
	height: 1000px;
}
.live_banner_second,.live_banner_third{
	height: 500px;
	background: #ccc;
}
.live_banner_third{
	background: #ededed;
}
.live_box{
	width:calc(100% / 3);
	height: 100%;
	display: table;
    vertical-align: middle;
    text-align: center;
}
.live_inner{
	display: table-cell;
    vertical-align: middle;
    height: 500px;
    background-color: rgb(226, 35, 26);
    min-height: 500px;
    transition: all 700ms ease;
    position: relative;
}
.live_banner{
	width:calc( 100% - (100% / 3 ));
	height: 500px;
	vertical-align: middle;
    text-align: center;
    display: table;
}
.live_banner .live_inner{
	background-color: rgb(0, 0, 0);
}
.slides{
	position: absolute;
	top: 0;
	left: 0;
	width: 300%;
}
.banner_first{
	width: 100%;
	height: 100%;
	background: #0f0;
	position: relative;
	border:none;
}
.banner_one{
	width: calc( 100% / 3 );
	height: 500px;
	position: relative;
}
.banner_left{
	position: relative;
	width:50%;
}
.banner_right{
	width:50%;
}
.btn{
	position: absolute;
	top:50%; 
	margin-top: -22px;
	width:42px;
	height:44px;
	color: #fff;
	text-align: center;
	line-height: 44px;	
	font-size: 25px;
	border-radius: 50%;
	transition:0.6s;
	z-index: 10;
	cursor: pointer;
}
.btn:hover{
	background-color: #fff;
	color: #8a8a8a;
}
.lbtn{
	left:15px;
}
.rbtn{
	right:15px;
}



































































