@import '~antd/dist/antd.css';
.live_life .ant-carousel {
	float: left;
	width: 66.7%;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 500px;
  line-height: 500px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-arrow:hover{
	background-color: #fff;

}
.ant-carousel .slick-arrow a{
	color: #fff;	
}
.ant-carousel .slick-arrow:hover a{
	color: #8a8a8a;
}
.ant-carousel .slick-arrow a:visited{
	color: #fff;
}
.ant-carousel .slick-prev::before,.ant-carousel .slick-next::before{
	display: none;
}
.ant-carousel .slick-prev,.ant-carousel .slick-next{
	width:42px;
	height:44px;
	color: #fff;
	text-align: center;
	line-height: 44px;	
	font-size: 25px;
	border-radius: 50%;
	transition:0.6s;
	z-index: 10;
	margin-top: -22px;
}
.ant-carousel .slick-prev{
	left: 15px;
}
.ant-carousel .slick-next{
	right: 15px;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.live_life{
	width: 100%;
	height: 1000px;
}
.live_box{
	width: 33.3%;
	height: 100%;
	display: table;
    vertical-align: middle;
    text-align: center;
}
.live_inner{
	display: table-cell;
    vertical-align: middle;
    height: 500px;
    background-color: rgb(226, 35, 26);
    min-height: 500px;
    transition: all 700ms ease;
    position: relative;
}
.live_banner_second,.live_banner_third{
	width: 100%;
}
.live_banner_second .ant-carousel {
	float: left;
	width: 50%;
	height: 500px;
}
.live_banner_third .ant-carousel {
	float: left;
	width: calc( 100% /3);
	height: 500px;
}
.banner_right{
	width:50%;
}

@media screen and (max-width: 768px) {
	.live_box,.live_life .ant-carousel,.live_banner_second .ant-carousel,.live_banner_third .ant-carousel{
		width: 100%;
	}
	.live_banner_second .banner_right{
		display: none;
	}
}















































