@import '~antd/dist/antd.css';
.Live .ant-carousel img{
	width: 100%;
	height: 100%;
}
.live_life .ant-carousel {
	float: right;
	width: 66.7%;
	height: 482px;
}
.live_life .slick-slider,.live_banner_second .slick-slider,.live_banner_third .slick-slider,.live_banner_four .slick-slider{
	height: 100%;
}
.live_life .slick-list,.live_banner_second .slick-list,.live_banner_third .slick-list,.live_banner_four .slick-list{
	height: 100%;
}
.live_life .slick-track,.live_banner_second .slick-track,.live_banner_third .slick-track,.live_banner_four .slick-track{
	height: 100%;
}
.live_life .ant-carousel .slick-slide,.live_banner_second .ant-carousel .slick-slide,.live_banner_third .ant-carousel .slick-slide,.live_banner_four .ant-carousel .slick-slide{
  height: 100%;
  overflow: hidden;
}
.live_life h3,.live_banner_second h3,.live_banner_third h3,.live_banner_four h3{
	height: 100%;
}
.live_banner_second .ant-carousel{
	height: 362px;
}
.live_banner_third .ant-carousel{
	height: 373px;
}
.live_banner_four .ant-carousel{
	height: 388px;
}
.ant-carousel .slick-arrow:hover{
	background-color: #fff;

}
.ant-carousel .slick-arrow a{
	color: #fff;	
	margin: 0;
}
.ant-carousel .slick-arrow:hover a{
	color: #8a8a8a;
}
.ant-carousel .slick-arrow a:visited{
	color: #fff;
}
.ant-carousel .slick-prev::before,.ant-carousel .slick-next::before{
	display: none;
}
.ant-carousel .slick-prev,.ant-carousel .slick-next{
	width:42px;
	height:44px;
	color: #fff;
	text-align: center;
	line-height: 44px;	
	font-size: 25px;
	border-radius: 50%;
	transition:0.6s;
	z-index: 10;
	margin-top: -22px;
}
.ant-carousel .slick-prev{
	left: 15px;
}
.ant-carousel .slick-next{
	right: 15px;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
/*Live carousel end*/
.live_life{
	width: 100%;
    background-color: rgb(226, 35, 26);
}
.live_box{
	width: 33.3%;
	height: 100%;
	display: table;
    vertical-align: middle;
    text-align: center;
}
.live_inner{
	padding: 30% 0;
    min-height: 500px;
    transition: all 700ms ease;
    position: relative;
    color: #fff;
}
.live_inner h2{
	color: #fff;
	font-size: 90px;
	line-height: 110px;
	font-weight: 600;
	margin: 20px 0;
}
.live_inner p{
	font-size: 24px;
	line-height: 28px;
}
/*live_life end*/
.live_banner_second,.live_banner_third,.live_banner_four{
	width: 100%;
}
.live_banner_second .ant-carousel ,.live_banner_four .ant-carousel{
	float: left;
	width: 50%;
}
.live_banner_third .ant-carousel {
	float: left;
	width: calc( 100% /3);
}
.banner_right{
	width:50%;
	position: relative;
}
.banner_right video{
	width: 100%;
}
/*live_banner_second live_banner_third live_banner_four end*/

/*响应式布局*/
@media screen and (max-width: 768px) {
	.live_box,.live_life .ant-carousel,.live_banner_second .ant-carousel,.live_banner_third .ant-carousel,.live_banner_four .ant-carousel{
		width: 100%;
	}
	.live_banner_four .banner_right{
		display: none;
	}
}

/* 移动端布局 */
@media screen and (max-width: 414px){
	.Live .ant-carousel img{
		height: 19.32367rem;
	}
	.ant-carousel .slick-slide {
	  height: 19.32367rem;
	  line-height: 19.32367rem;
	}
	.ant-carousel .slick-prev,.ant-carousel .slick-next{
		width:1.62319rem;
		height:1.70048rem;
		line-height: 1.70048rem;	
		font-size: 0.96618rem;
		margin-top: -0.85024rem;
	}
	.ant-carousel .slick-prev{
		left: 0.57971rem;
	}
	.ant-carousel .slick-next{
		right: 0.57971rem;
	}
	.live_inner{
	    height: 19.32367rem;
	    min-height: 19.32367rem;
	}
	.live_inner h2{
		font-size: 3.47826rem;
		line-height: 4.25120rem;
		font-weight: 600;
		margin: 0.77294rem 0;
	}
	.live_inner p{
		font-size: 0.92753rem;
		line-height: 1.08282rem;
	}
	/*live_life end*/
}















































