.press h3{
	padding: 28px 0;
	font-size: 40px;
	font-weight: 100;
	line-height: 44px;
	color: #303030;
}
.press .news{
	width: 100%;
	padding-top: 40px;
}
.press .news>p{
	color: #1a1a1a;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}
.press .news li{
	margin-bottom: 100px;
	width: 100%;
}
.press li .news_text{
	width: 70%;
}
.press li .news_text div{
	padding: 0 50px 23px 0;
	border-right: 2px solid #E2231A;
}
.press li .news_text .views_title{
	font-size: 24px;
	line-height: 28px;
}
.press li .views_text .views_date{
	color: #808080;
	font-size: 32px;
	line-height: 32px;
	display: none;
}
.press li .news_text h4 a{
	font-size: 24px;
	line-height: 28px;
	color: #E2231A;	
}
.press li .news_text h4 a:hover{
	text-decoration: underline;
}
.press li .news_text h5{
	margin-bottom: 30px;
	color: #959595;
	font-size: 18px;
	font-weight: 400;	
}
.press li .news_text p{
	font-size: 14px;
	line-height: 20px;
	color: #1A1A1A;	
}
.press li .news_detail{
	width: 30%;
}
.press li .news_detail div{
	padding-left: 50px;
}
.press li .news_detail .news_date{
	font-size: 40px;
	line-height: 40px;
	color: #1a1a1a;
	font-weight: 400;
}
.press li .news_more{
	margin-top: 15px;
}
.press li .news_more a{
	font-weight: 400;
	border: 1px solid #E2231A;
	float: left;
}
.press li .news_more a button{
	background: #E2231A;
	margin: 4px;
	padding: 8px 20px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}
.press li .news_more a button a{color: #fff; text-decoration: none;}
/*响应式布局*/
@media only screen and (max-width: 1000px){
	.press .news{
		padding-top: 0;
	}
}
@media only screen and (max-width: 768px){
	.press li .news_detail div{
		padding-left: 25px;
	}
	.press li .news_more a button{
		padding: 6px 10px;
		font-size: 15px;
	}
	.press li .news_detail .news_date{
		font-size: 32px;
		line-height: 32px;
	}
	.press li .news_text div{
		padding: 0 25px 23px 0;
	}	
}
@media only screen and (max-width: 700px){
	.press h3{
		padding: 15px 0;
	}
	.press li .news_text .news_date{
		display: block;
	}
	.press li .news_text{
		width: 100%;
	}
	.press li .news_text div{
		border-right: 0px solid #E2231A;
	}
	.press li .news_detail{
		display: none;
	}
}

/* 移动端布局 */
@media screen and (max-width: 414px){
	.press h3{
		padding: 0.57971rem 0;
		font-size: 1.54589rem;
		line-height: 1.70048rem;
	}
	.press .news{
		padding-top: 1.54589rem;
	}
	.press .news>p{
		font-size: 0.61836rem;
		line-height: 1.00483rem;
	}
	.press .news li{
		margin-bottom: 3.86473rem;
	}
	.press li .news_text div{
		padding: 0 1.93237rem 0.88889rem 0;
	}
	.press li .news_text .views_title{
		font-size: 0.92754rem;
		line-height: 1.08213rem;
	}
	.press li .views_text .views_date{
		font-size: 1.23671rem;
		line-height: 1.23671rem;
	}
	.press li .news_text h4 a{
		font-size: 0.92754rem;
		line-height: 1.08213rem;
	}
	.press li .news_text h5{
		margin-bottom: 1.15942rem;
		font-size: 0.69565rem;	
	}
	.press li .news_text p{
		font-size: 0.54106rem;
		line-height: 0.77295rem;
	}
	/*.press li .news_detail display: none 未设置其里面的内容*/
}