.content_top{
	position: relative;
    font-size: 24px;
    line-height: 28px;
}
.content_top_word{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	box-sizing: border-box;
    padding-left: 15px;
    display: table;
    vertical-align: middle;
    text-align: center;
}
.top_word{
	padding: 0 15% 0 15px;
	display: table-cell;
	color: #fff;
	vertical-align: middle;
    height: 500px;
    text-align: left;
}
.top_word h2{
	color: #fff;
	font-weight: normal;    
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;
}
.user_vision{
	background-color: #fff;
}
.vision_box h1{
	font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    color: #E2231A;
    letter-spacing: 0;
    margin: 0 0 24px 0;
}
.vision_box p{
	font-size: 16px;
    line-height: 26px;
    color: #58585B;
}
.vision_box h2{
	color: #58585B;
	font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}
.user_vision_inner{
	background-image: url(img/ogilvy_our_vision4_bg.png);
    background-position: 90% 50% !important;
}
.user_culture_inner,.user_vision_inner{
	padding: 20px 15px;
	box-sizing: border-box;
	background-size: auto 100% !important;
}
.user_vision_word{
	width:66.66666667%;
	padding: 40px 15px;
}
.user_culture{
	background-color: #f2f2f3;
	margin-bottom: 50px;
}
.user_culture_inner{
	background-image: url(img/ogilvy_our_culture5_bg.png);
    background-position: 0% center;
}
.user_culture_word{
	width:66.66666667%;
	padding: 40px 15px;
}
.lions_aifei{
	height: 404px;
	margin-bottom: 100px;
}
.lions_box{
	width:50%;
	box-sizing:border-box;
}
.lions_con{
	height: 300px;
	text-align: center;
	margin-bottom: -30px;
}
.lions_padding{
	padding: 0 15px 0 20%;
}
.lions_padding:last-of-type{
	padding: 0 20% 0 15px;
}
.lions_con img{
	width:300px;
	height:300px;
	text-align: center;
}	
.lions_word{
	height: 84px;
	width: 100%;
	text-align:center;
}
.lions_aifei h2,.lions_aifei p{
	color: #969696;
	font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}
.team_history_box{
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.history_box{
	width:50%;
	height:500px;
	display: table;
}
.history_box{
	background: url(img/ogilvy_culture_history-in-china-1-3.jpg);
	background-position: center center;
	position: relative;
}
.history_mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	transition: all 700ms ease;
}
.history_box:hover .history_mask{
	background: rgba(149, 149, 149, 0.478431);
}
.history_center{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20%;
    min-height: 500px;
    transition: all 700ms ease;
    display: table-cell;
    vertical-align: middle;
    height: 500px;
    text-align: center;
    z-index: 10;
}
.history_china{
	font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 15px;
}
.history_box:last-of-type{
	background: rgba(0, 0, 0, 0.05);
}
.history_box:last-of-type .history_china{
	color: #e2231a;
    margin-bottom: 20px;
}
.user_history{
	padding-bottom: 35px;	
}
.user_history a{
	color:#fff; 
	display: inline-block;
	max-width: 100%;
	border: 1px solid #E2231A;
}
.user_history a:hover{
	border-color: #fff;
}
.user_history a button{
	cursor: pointer;
	background-color: #E2231A;
	margin: 4px;
    padding: 10px 25px;
    border:none;
    color: #fff;
    font-size: 21px;
    line-height: 25px;
}
.user_history a:hover button{
	background-color: #fff;
    color: #E2231A;
}

/*响应式布局*/
@media screen and (max-width: 768px){
	.lions_box,.aifei_box{
		width: 100%;
	}
	.history_box,.team_box{
		width: 100%;
	}
}

/* 移动端布局 */
@media screen and (max-width: 414px){
	.content_top{
	    font-size: 0.92754rem;
	    line-height: 1.08213rem;
	}
	.content_top_word{
	    padding-left: 0.57971rem;
	}
	.top_word{
	    height: 19.32367rem;
		padding: 0 15% 0 15px;
	}
	.top_word h2{ 
	    margin-bottom: 0.77295rem;
	    font-size: 1.54589rem;
	    line-height: 1.85507rem;
	}
	.vision_box h1{
		font-size: 1.54589rem;
	    line-height: 1.93237rem;
	    margin: 0 0 0.92754rem 0;
	}
	.vision_box p{
		font-size: 0.61836rem;
	    line-height: 1.00483rem;
	}
	.vision_box h2{
		font-size: 0.92754rem;
	    line-height: 1.08213rem;
	}
	.user_culture_inner,.user_vision_inner{
		padding: 0.77295rem 0.57971rem;
	}
	.user_vision_word{
		padding: 1.54589rem 0.57971rem;
	}
	.user_culture{
		margin-bottom: 1.93237rem;
	}
	.user_culture_word{
		padding: 1.54589rem 0.57971rem;
	}
	.lions_aifei{
		height: 15.61353rem;
		margin-bottom: 3.86473rem;
	}
	.lions_con{
		height: 11.5942rem;
		margin-bottom: -1.15942rem;
	}
	.lions_padding{
		padding: 0 0.57971rem 0 20%;
	}
	.lions_padding:last-of-type{
		padding: 0 20% 0 0.57971rem;
	}
	.lions_con img{
		width:11.5942rem;
		height:11.5942rem;
	}	
	.lions_word{
		height: 3.24638rem;
	}
	.lions_aifei h2,.lions_aifei p{
		font-size: 0.92754rem;
	    line-height: 1.08213rem;
	}
	.history_box{
		height:19.32367rem;
	}
	.history_center{
	    min-height: 19.32367rem;
	    height: 19.32367rem;
	}
	.history_china{
		font-size: 1.3913rem;
	    line-height: 1.70048rem;
	    margin-bottom: 0.57971rem;
	}
	.history_china:last-of-type{
	    margin-bottom: 0.77295rem;
	}
	.user_history{
		padding-bottom: 1.35266rem;
	}
	.user_history a{
		border: 1px solid #E2231A;
	}
	.user_history a button{
		margin: 0.15459rem;
	    padding: 0.38647rem 0.96618rem;
	    font-size: 0.81159rem;
	    line-height: 0.96618rem;
	}	
}


















